<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet in similique
  sapiente. Voluptatem nihil possimus totam sint non nesciunt assumenda
  consequatur! Quos quas in nam similique cumque unde aspernatur possimus
  accusamus doloremque minima laudantium dolorum aliquam aperiam necessitatibus,
  veritatis consequatur suscipit, ab dolore ducimus, qui reiciendis
  consequuntur. Nulla, eum quam.
</p>
<button class="btn btn--inline">Get Started</button>
<button class="btn btn--ghost">Buy Now</button>
<button class="btn btn--hover">Buy Now</button>
<button class="btn btn--inline btn--search">Search</button>
