<section class="cards-full" style="padding: 4rem">
  <div style="margin-bottom: 4rem" class="card card--primary">
    <header class="card__header">
      <div class="plans--category">Entry</div>
      <div class="plans">
        <div class="plans--price">$14</div>
        <div class="plans--time">/month</div>
        <div class="plans--discount">10% off</div>
      </div>
      <div class="plans--caption">Easy start on the cloud</div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
      </ul>
      <button style="margin-top: 6rem" class="btn btn--ghost">Buy Now</button>
    </div>
  </div>
  <div style="margin: 4rem" class="card card--secondary plans--popular">
    <header class="card__header">
      <!-- <img src="/images/popular.svg" alt="" /> -->
      <div class="plans--category">Business</div>
      <div class="plans">
        <div class="plans--price">$24</div>
        <div class="plans--time">/month</div>
        <div style="background: #023055" class="plans--discount">20% off</div>
      </div>
      <div class="plans--caption">Optimal Cloud Experience</div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
        <li class="list__item">2 CPU Cores</li>
      </ul>
      <button style="margin-top: 9rem" class="btn btn--inline">Buy Now</button>
    </div>
  </div>
  <div style="margin-bottom: 4rem" class="card card--primary">
    <header class="card__header">
      <div class="plans--category">Business Plus</div>
      <div class="plans">
        <div class="plans--price">$54</div>
        <div class="plans--time">/month</div>
        <div class="plans--discount">10% off</div>
      </div>
      <div class="plans--caption">Easy start on the cloud</div>
    </header>
    <div class="card__body">
      <ul class="list list--tick">
        <li class="list__item">Unlimited Websites</li>
        <li class="list__item">Unlimited Bandwidth</li>
        <li class="list__item">100 GB SSD Storage</li>
        <li class="list__item">3 GB RAM</li>
        <li class="list__item">2 CPU Cores</li>
      </ul>
      <button style="margin-top: 2rem" class="btn btn--ghost">Buy Now</button>
    </div>
  </div>
</section>
