<header style="margin-bottom: 5rem" class="feature__header">
  <h2>Host On The Cloud To Keep Growing</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
    culpa eveniet expedita et vitae libero.
  </p>
</header>
<div class="feature">
  <article class="feature__article grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 style="margin-top: 20px">Super Easy To Use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro est,
        dolor tempore architecto qui earum accusantium facilis quasi nostrum
        culpa!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="/images/easy.jpg" alt="" />
    </div>
  </article>
  <article class="feature__article grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 style="margin-top: 20px">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        expedita temporibus voluptatem iusto doloremque quidem consectetur
        odio tempora laboriosam ex.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="/images/fast.jpg" alt="" />
    </div>
  </article>
  </article>
  <article class="feature__article grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 style="margin-top: 20px">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        expedita temporibus voluptatem iusto doloremque quidem consectetur
        odio tempora laboriosam ex.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="/images/wordpress.jpg" alt="" />
    </div>
  </article>
  <article class="feature__article grid grid--1x2">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="/images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 style="margin-top: 20px">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta
        expedita temporibus voluptatem iusto doloremque quidem consectetur
        odio tempora laboriosam ex.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <div class="feature__image">
      <img src="/images/support.jpg" alt="" />
    </div>
  </article>
</div>
