<section class="block block--main hero__block--skewed-left">
  <div class="container grid grid--1x2">
    <div class="hero__content">
      <h1 class="hero__heading">Cloud Hosting for Free, Forever</h1>
      <p style="font-size: 2.5rem; font-weight: 100">
        Deploy your website in less than 60 seconds.
      </p>
      <button class="btn btn--inline">Get Started</button>
    </div>
    <div class="hero__image">
      <img src="/images/Team work_Monochromatic.svg" alt="" />
    </div>
  </div>
</section>
