<section class="container">
  <nav class="navbar collapsible collapsible--expanded">
    <a href="#"
      ><img class="logo__img" src="/images/avinier_logo2.svg" alt=""
    /></a>
    <svg style="fill: #06dffc" class="icon icon--light nav__toggler">
      <use xlink:href="/images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
</section>
